<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<!-- 尺寸大小，禁止缩放 -->
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
</head>

<body>
	<div class="icon002"></div>
	<div class="container clearfix">
		<div class="p1">
			亲爱的小伙伴们：
		</div>

		<div class="p2">
			为了给大家备考提供质量更高更贴心的服务，华图教育旗下
			<span class="yellow">华图在线重装改版升级，题库、听课全面升级，等级系统全新上线。
				<br> </span>同时因集团业务调整，
			<span class="red">砖题库公务员和砖题库事业单位APP从即日起停止维护更新，2018年1月1日正式下线。</span>
		</div>
		<div class="p3">
			感谢大家一路以来的陪伴和支持！
			<br>咱们
			<span class="yellow">华图在线APP</span>不见不散！
		</div>
		<div class="p4">
			ps：砖题库账号可直接登录华图在线使用哦~
		</div>
		<div class="btn" id="download">
			下载华图在线
		</div>
	</div>
	<div class="icon003"></div>
	<img src='../img/common/common-big.png' alt="">
</body>

</html>